extends layout

block content
	include navbar
	.row
		#login-container
			form( method="post")#login-form.well.span4
				h1 EZgraph
				p.subheading Please Login To Your Account
				label Email 
				input(type="text", name="user", id='user-tf').span4.required
				label Password
				input(type="password", name="pass", id='pass-tf').span4.required
				button(type="submit")#btn-login.btn.btn-primary
					i.icon-lock.icon-white
					| Sign in
				label#remember-me.checkbox Remember Me
					input(type="checkbox", checked='checked')
				div.clear-fix
				hr
				div.btm-links
					a(href='#')#forgot-password Forgot Your Password?
					a(href='/signup')#create-account Create An Account

		include modals/alert
		include modals/lost-password
	include copyright

block scripts
	script(src='bootstrap/js/jquery.min.js')
	script(src='bootstrap/js/jquery.form.js')
	script(src='bootstrap/js/bootstrap-modal.js')
	script(src='bootstrap/js/bootstrap-transition.js')
	script(src='js/login.js')
	script(src='js/loginController.js')
	script(src='js/loginValidator.js')
	script(src='js/emailValidator.js')
	script(src='js/navbar.js')