extends layout

h1
  #logoimage
div(class="navbar")
  div(class="navbar-inner")
    div(class="container")
      ul(class="nav")
        li#navbarhomebutton
          a(href="/home") Home
        li(class="divider-vertical")
        li#navbarloginbutton
          a(href="/login") Graphs
        li(class="divider-vertical")
        li(class="divider-vertical")
        li(class="divider-vertical")
        li(class="divider-vertical")
        li(class="divider-vertical")
        li(class="divider-vertical")
        li(class="divider-vertical")
        li#navbaraboutbutton
          a(href="/about") Log Out
