extends layout

block content
    -if(user!=null)
        include navbar
    -if(user==null)
        include navbar-li
    .container
        .jumbotron
            h1. Hello, world!
            p Lorem Ipsum
            p
                a.btn.btn-primary.btn-lg Learn more
    include copyright
