include banner
.row
  .navbar.navbar-inverse#navBar(role="navigation")
    .container-fluid
      ul.nav.nav-pills
          li
            a(href="/signup")
              h3
                span(style="font-size: 1.25em; margin-top:2%").glyphicon.glyphicon-pencil
                |&nbsp; Sign Up
          li.navbar-right
            a(href="/about")
              h3
                span(style="font-size: 1.25em; margin-top:2%").glyphicon.glyphicon-info-sign
                |&nbsp; About
          li.navbar-right
            a(href="/faq")
              h3
                span(style="font-size: 1.25em; margin-top:2.5%").glyphicon.glyphicon-question-sign
                |&nbsp; FAQ
          li.navbar-right
            a(href="/login")
              h3
                span(style="font-size: 1.25em; margin-top:2%").glyphicon.glyphicon-log-in
                |&nbsp; Login