include banner
.row
  .navbar.navbar-inverse#navBar(role="navigation")
    .container-fluid
      ul.nav.nav-pills
        li
          a(href="/home")
            h3
              span(style="font-size: 1.25em; margin-top:2%").glyphicon.glyphicon-home
              |&nbsp; Home
        li
          a(href="/graphing")
            h3
              span(style="font-size: 1.25em; margin-top:2%").glyphicon.glyphicon-stats
              |&nbsp; Graphing
        li
          a(href="/import")
            h3
              span(style="font-size: 1.25em; margin-top:2%").glyphicon.glyphicon-import
              |&nbsp; Import
        li.navbar-right
          a(href="/about")
            h3
              span(style="font-size: 1.25em; margin-top:2%").glyphicon.glyphicon-info-sign
              |&nbsp; About
        li.navbar-right
          a(href="/faq")
            h3
              span(style="font-size: 1.25em; margin-top:2.5%").glyphicon.glyphicon-question-sign
              |&nbsp; FAQ
        li.navbar-right
          a(href="/logout")
            h3
              span(style="font-size: 1.25em; margin-top:2%").glyphicon.glyphicon-log-out
              |&nbsp; Log Out